@{
  Layout = "_Layout";
}

@model MusicOrg.Models.Artist

<h1 class="capital-text">Edit Artist</h1>
<h4>Artist being edited: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.ArtistId)

  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name)

  <input type="submit" value="Save" />
}
<p>@Html.ActionLink("Back to artist list", "Index")</p>
<p>@Html.ActionLink("Back to home", "Index", "Home")</p>